<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzwise.modules.ucenter.mapper.UcTransactionMapper">
    <select id="listAssetsRecord" resultType="com.mzwise.modules.ucenter.vo.AdminAssetsRecordVO">
        SELECT um.id as memberId, um.nickname, um.phone, um.email, ut.wallet_type as walletType, ut.type, ut.amount, ut.create_time as createTime
        FROM uc_transaction AS ut LEFT JOIN uc_member AS um ON ut.member_id = um.id
        ${ew.customSqlSegment}
        <if test="phone!=null and phone!=''">
            AND um.phone LIKE #{phone}"%"
        </if>
        <if test="email!=null and email!=''">
            AND um.email LIKE "%"#{email}"%"
        </if>
        <if test="nickname!=null and nickname!=''">
            AND um.nickname LIKE "%"#{nickname}"%"
        </if>
        ORDER BY ut.create_time DESC
    </select>


    <select id="findYesterdayCommissionStatistics" resultType="com.mzwise.modules.ucenter.entity.UcPartnerStat">
        SELECT member_id as memberId,sum(amount) as amount
        FROM `uc_transaction`
        where type=19  and create_time BETWEEN  #{startDay} and  #{endDay}
        group by member_id
    </select>

    <select id="findYesterdayCommissionStatisticsByMember" resultType="com.mzwise.modules.ucenter.entity.UcPartnerStat">
        SELECT member_id as memberId,sum(amount) as amount
        FROM `uc_transaction`
        where type=19  and create_time BETWEEN  #{startDay} and  #{endDay} and member_id=#{memberId}
    </select>

</mapper>