<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzwise.modules.ucenter.mapper.UcWithdrawMapper">
    <select id="calWithdrawalNumAndAmount" resultType="com.mzwise.modules.ucenter.vo.AdminWithdrawalVO">
        SELECT COUNT(*) AS numberOfWithdrawal,SUM(uw.amount) AS amountOfWithdrawal
        FROM uc_withdraw AS uw WHERE member_id = #{memberId}
    </select>

</mapper>