<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mzwise.modules.home.mapper.HomeArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mzwise.modules.home.entity.HomeArticle">
        <id column="id" property="id" />
        <result column="language" property="language" />
        <result column="type" property="type" />
        <result column="pic" property="pic" />
        <result column="url" property="url" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="top" property="top" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
